body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(216, 214, 214);
    text-shadow: 1px 1px 1px black;
}

.button {
    width: 100px;
    height: 70px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(208, 210, 212);
}

.button:hover {
    background-color:rgb(94, 94, 95);
    color: white;
}

#color {
    margin-top: 10px;
    background-color: white;
}